body{
  background-color:silver;
}
.figure{
  border-width:0px 5px 5px 5px;
  border-style:solid;
  background:white;
  border-color:white;
}
.figure-caption{
color:black;  
}
.timeline{
  font-size: 15px;
}