.container {
    /*display: grid;*/
    /*grid-template-columns: 100px auto 100px; três campos o do meio é automatico*/
    /* grid-template-columns: repeat(3, 1fr); três campos com o mesmo tamanho  etrês colunas com 3 linhas*/  
    /*grid-template-columns: repeat(6, 1fr);  três campos com o mesmo tamanho com seis colunas*/  

    /*grid-template-rows: repeat(2, 50px);*/
    /*grid-gap: 3px;*/
}

/*Outra opção mais simplificada*/

.container {
    display: grid;
    grid-template: repeat(2, 50px) / repeat(3, 1fr);   
    grid-gap: 3px;
}



